<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3_8vr4V7pOVDi-m0iCNn6DWxUexqg8GM</string>
	<key>GCM_SENDER_ID</key>
	<string>739182321293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gifx.trade.gifx</string>
	<key>PROJECT_ID</key>
	<string>db-solution</string>
	<key>STORAGE_BUCKET</key>
	<string>db-solution.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739182321293:ios:96f4dc40ce9e25c6a18cc4</string>
</dict>
</plist>